.logo{
  height: 100px;
  border-radius: 50%;
  border: 5px solid white;
  background-color: white;
  margin-bottom: 5px;
  margin-top: 10px;
}

.navbar-brand img{
  display:none;
}

@media only screen and (max-width: 768px) {
  .logo-bar {
    display: none;
  }
  .navbar-brand img{
    height: 100px;
    display: block;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}